
 select.menuSelectionDiv
{
    width: 10em;
    height: 15em;
    line-height: 4.7em;
    border:1px solid #23a9de;
    
    
}

/* Width */


optgroup.intelisenseShade
{
    background: gray;
    color: White;
    border-style: dotted;
    text-align: center;
}
 

.textarea
{
    background-color: transparent;
    font-family: Courier New;
    font-size: medium;
    font-weight: bold;
    width: 60em;
    height: 15em;
}
