@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, code, del, em, font, img, small,
strike, strong, dl, dt, dd, ol,  li, fieldset, form,
label, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
*margin:0;
*padding:0;
/* table-layout:fixed; */
}
body {

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#f6f6f6;
	background-image:url(../images/top_bg.jpg);
	background-repeat:repeat-x;
	background-position: 0px 35px;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}

img,a
{
	cursor:pointer;
	text-decoration:none;
	cursor:pointer;
}
a
{
	color:#000;
}
.ui-dialog { position: fixed !important;}
.file
{
	visibility:hidden;
	width:0px;
	height:0px;
	 
}
.container{
	width:1000px;
	height:auto;
	text-align:center;
	/*border:#333 1px solid;*/
}
.header{
	width:1000px;
	height:106px;
}
.headerLeftRule1
{
	background:url(../images/life_engage.png) no-repeat ;
    float: left;
    height: 106px;
    margin:0px;
    width: 320px;
}
.logoWhite
{
    width: 442px;
    height: 87px;
	margin-top:10px;
	margin-left:280px;
}
.LoginContainer{
	background-image:url(../images/login_bg.png);
	height:190px;
	width:442px;
	background-repeat:no-repeat;
	text-align:center;
	margin-left:280px;
}
.clear
{ clear:both;
}
.blue_heading{
    color:#3b9ac0;
    font-family:Arial, Helvetica, sans-serif;
     font-weight: bold;
    font-size: 16px;
}
.searh_box{
	height:24px;
	line-height:24px;
	border:#c4c4c4 1px solid;
	background-image:url(../images/login_text_bg.png);
	background-repeat:repeat-x;
	padding-top:3px;
}
.SaveRule
	{
	
	background-repeat:no-repeat;
	 border:0px;
	}
	
	.Preview
	{
	
	background-repeat:no-repeat;
	border:0px;
	}
	.rsPreview
	{
	
	background-repeat:no-repeat;
	border:0px;
	}
.LoginButton
{
    width: 78px;
    height: 24px;
	background-image:url(../images/login_bton.png);
	background-repeat:no-repeat;
    color: #006699;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    padding-right: 0px;
	text-align:center;
	padding-top:8px;
	margin-right:40px;
	cursor:pointer;
}
.cognizant_logo
{
	background-image:url(../images/cognizant_logo.png);
	background-repeat:no-repeat;
	background-position:right;

}
.headerLeftRule
{
	background: url("../images/rule_engine_header.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 99px;
    margin:0 px;
    width: 320px;
}
.right_icons
{
	background-image:url(../images/right_icons.png);
	background-repeat:no-repeat;
	width:335px;
	height:32px;
	float:right;
	margin:4px 31px 0 0;
}
.workbench_img_bg{
	position: absolute;
	top: 80px;
	right: 203px;
	cursor:pointer;
}
/*
.icons{
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 8px;
	float:left;
}
.icons1{
	background-image:url(../images/help_icon.png);
	background-repeat:no-repeat;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 5px;
	float:left;
}
.icons2{
	background-image:url(../images/log_out_icon.png);
	background-repeat:no-repeat;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 5px;
	float:left;
}*/
.login_name_txt{
font-weight: bold;
color: white;
display: inline-block;
word-wrap: break-word;
float: left;
width: 170px;
padding-left: 3px;
padding-right: 3px;
margin : 3px;
}
.icons{
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	margin:5px 0 0 8px;
	float:left;
}
.icons1{
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	margin:6px 0 0 0;
	float:left;
}
.icons2{
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	margin:3px 4px 0 4px;
	float:right;
}
.centertop
{
	width:940px;
	padding-left:30px;
	height:auto;
}
.menucontainer{
	width:940px;

	height:32px;
}
/* Menu starts */
.menu
{
	width:927px;
	height:32px;
	margin:0 auto;
	background:url(../images/shadow_for_menu.png) repeat-x bottom;
	padding:22px 0 0 23px;
	
}
.nav .menu_left
{
	height:32px;
	width:5px;
	background:url(../images/menuItemLeft_bg.png) no-repeat;
	float:left;
	float:left;
}
.nav .menu_right
{
	height:32px;
	width:5px;float:left;
	background:url(../images/menuItemRight_bg.png) no-repeat;	
}
.nav .menu_center
{
	height:32px;float:left;
	background:url(../images/menuItem_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}

.nav .menu_leftSel
{
	height:32px;
	width:7px;
	background:url(../images/menuItemSelLeftGreen_bg.png) no-repeat;
	float:left;
}
.nav .menu_rightSel
{
	height:32px;
	width:7px;float:left;
	background:url(../images/menuItemSelRightGreen_bg.png) no-repeat;	
}
.nav .menu_centerSel
{
	height:32px;
	float:left;

	background:url(../images/menuItemSelGreen_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}

ul.nav li img
{
	 vertical-align: middle;
	 margin-right: 5px;
	
}

ul.nav li.menu_centerSel a
{
		color:#fff;
}

/* Menu ends */

.strip_center
{
	width:940px;
	float:none;
	height:38px;
	margin:0px;
	background-image:url(../images/nav-normal.jpg);
	background-repeat:repeat-x;
	padding-top:5px;

}
.tab_bg{
	background-image:url(../images/tab_bg.png);
	background-repeat:repeat-x;
	height:37px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.bottom_logo{
	width:138px;
	height:52px;
	background-image:url(../images/life_engage_logo.png);
	background-repeat:no-repeat;
	margin-top:30px;
}
.add_new{
	width:940px;
	height:auto;
	margin:0px;
	padding:0px;
	text-align:left;
	min-height:30px;
}
.add_new_1{
	width:940px;
	height:auto;
	margin:0px;
	padding:0px;
	text-align:left;
	min-height:20px;
}
 /*.tableRowbold
{
    font-size: 13px;
    font-weight: bold;
	background-image:url(../images/tab_bg.png);
	background-repeat:repeat-x;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
	width:100%;
    border:1px solid #a8d7ea;
	padding-top:7px;
}*/
 .tableRowbold
{
    font-size: 13px;
    font-weight: bold;
	/* background-image:url(../images/tab_bg.png); */
	/* background-repeat:repeat-x; */
	background-color:#b2e5ff;
	height:38px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color:#006699;
	width:900px;
    border:1px solid #a8d7ea !important;
	padding-top:5px;
	box-sizing: border-box;
}

.tableRowbold_list
{
    font-size: 13px;
    font-weight: bold;
	background-image:url(../images/tab_bg.png);
	background-repeat:repeat-x;
	height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color:#006699;
    border:1px solid #a8d7ea;
	padding-top:5px;
}
.wrapper1{
	background-color:#FFF;
	width:auto;
	height:auto;
	text-align:center;
}
.txt_box{
	height:23px;
	padding-left: 5px;
	border:#c4c4c4 1px solid;
}
.plus_icon{
	background-image:url(../images/+.png);
	width:20px;
	height:19px;
	background-repeat:no-repeat;
	float:right;
	margin-right:10px;
}
.minus_icon{
	background-image:url(../images/minus.png);
	width:20px;
	height:19px;
	background-repeat:no-repeat;
	float:right;
	margin-right:10px;
}
#regions
	{
	background-color:#FFF;
	}
.panel, .flip
        {
                       text-align: center;
            border: solid 1px #23a9de;
			border-radius: 0px;
        }
.panel
        {
            /*display: none;*/
			overflow: hidden;
			 width:900px;
        }
.commments_textarea{
	width: 95%;
	resize:none;
}		
.bg_blue{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	float:left;
	margin-left: 10px;
}

.bg_blue_simple{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;

}

.attrInput
{
	
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:296px;
	background:transparent;
	border:none;
}
.txt_area{	
	border:#c4c4c4 1px solid;
}
.txt_area:disabled{	
	background-color:white;
}
.txt_area_1 {
	height: 75px;
	width: 240px;	
	border: #c4c4c4 1px solid;
	color: #000;
	float: left;
	margin-left: 11px;
	font-family:Arial, Helvetica, sans-serif;
}
#txtCodeBlock ,#txtRuleName
	{
	border:#c4c4c4 1px solid;
	}
.ruleIf 
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.ruleElseIf 
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.ruleElse 
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.ruleLookUp 
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.ruleIfSub 
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.ruleCodeBlock
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.StatementBlock
    {
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.statement_block_else{
	background-color:#E3F6FF;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.functionBlock
    {
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	overflow:hidden; 
	margin-left:0px;
	width:100%;
	}	
	.ruleLoop
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	overflow:hidden; 
	margin-left:0px;
	width:100%;
	}
	.ruleStatement
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	 overflow:hidden;
	margin-left:0px;
	width:100%;
	}
	.functionBlockStatement
	{
	background-color:#E3F6FF;
	border:1px solid #a8d7ea;
	overflow:hidden; 
	margin-left:0px;
	width:100%;
	}	
	
	#txtLHS , #txtRHS ,#txtCondition ,#txtLhs ,#txtRhs
	{
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:296px;
	background:transparent;
	border:none;
	}
	#txtStart ,#txtStep ,#txtLimit
	{
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:122px;
	background:transparent;
	border:none;
}
	.tblAction
	{
	width:90%;
	}
	select
	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:15px;
	color:#0c6689;
	border:1px solid 	#a8d7ea;
	}
	.btnadd
{
	 
	  height:30x;
	  width:51px;
	  background:url(../images/add_all.png) no-repeat;
}

.attrInputWrapper_small
{
	 
	  height:27px;
	  width:145px;
	  background:url(../images/textboxImgMedSmall.png) no-repeat;
}
.attrInput_small
{
	
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:122px;
	background:transparent;
	border:none;
}

/* added code */
.pdg_left{
	padding-left:10px;
}
.pdg_left_title{
	padding-left:20px;
}
.pdg_right{
	padding-right:10px;
}
.min_pdg_left{
	padding-left:6px;
}
.pdg_top{
	padding-top:5px;
}
.pdg_btm{
	padding-bottom:2px;
}
.pdg_top_left{
	padding-top:5px;
	padding-left:7px;
}
.min_pdg_top_left{
	padding-top:2px;
	padding-left:2px;
	
}
.pdg_top_btm{
	padding-top:8px;
	padding-bottom:8px;
	
}
.add_pdg_left{
	padding-left:2px;
}
.min_pdg_top_btm{
	padding-top:2px;
	padding-bottom:2px;
	
}
.min_mrg_top{
	margin-top:2px;
}
.rule_set_title{
	padding-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
    color: #006699;
    float:left;
    display:inline-block;
    padding-top:5px;
}
.title_group_lbl{
	float: left;
	padding-top: 5px;
	width: 220px;
	font-weight:bold;
}

.title_rule_lbl{
	padding-top: 5px;
	width: 220px;
	left:150px;
	margin: 0 5px 5px 5px;
	
}

.condition_stmnt_select{
	display: inline-block;
	padding-left: 8px;
    padding-top: 4px;
}

.attrInputWrapper_small
{
	 
	  height:27px;
	  width:145px;
	  background:url(../images/textboxImgMedSmall.png) no-repeat;
}
.attrInput_small
{
	
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:122px;
	background:transparent;
	border:none;
	color:#333;
}
#lblinput{
	display: block;
	padding-top: 5px;
	padding-right: 10px;
}

.attrInputWrapper
{
	 
	  height:27px;
	  width:310px;
	  background:url(../images/textboxImg.png) no-repeat;
	  margin:5px 3px 10px 5px;
}
.attrInputWrapper_smallest
{
	 
	  height:27px;
	  width:120px;
	  background:url(../images/smallest_textbox.png) no-repeat;
	   margin:5px 5px 10px 5px;
}
.attrInput
{
	
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:296px;
	background:transparent;
	border:none;
	color:#333;
}
.add_new{
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	text-align:left;
	min-height:20px;
	background-color:#ffffff;
}
.white_bg{
	background-color:#ffffff;
	}
	
.blue_text{
	color: #006699;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
	padding-left: 5px;

}
.expand_btn{
	float:right;
	margin-right: 10px;
}

.action_btns{
	text-align: center;
	overflow: hidden;
	padding-left: 15px;
	padding-top: 1px;
	}	
.boldText{
	font-weight:600;
}
.no_border{
	border:none !important;
}
.ex_info{
	width:175px;
	float:left;
	color:#000;	
}
	.rule{
	background-image:url(../images/bar1.png);
	background-repeat:repeat-x;
	background-position: 4px 0;
	height:16px;
}
.mrg_btm{
	margin-bottom:10px;
}
.attr_input_smallest{
	background: none;
	border: none;
	width: 100px;
	height: 22px;
	line-height:22px;
	margin:2px 10px 0px 10px;
}
.sub_title_span{
	padding: 10px 10px 5px 20px;
	color: #006699;
	float:left;
}
.greeting_header{
	padding-left:4px;
	padding-top:4px;
}
.vt_align{
	vertical-align:bottom;
}
.add_action_span{
	padding-left:20px;
	width:90px;
	float:left;
	font-size:13px;
	text-align:left;
	vertical-align:bottom;
	color: #0c6689;
	padding-top:2px;
}
.first_span_sub_title{
	padding-left:10px !important;
}
.blue_txt_color{
color: #006699;}
}
.float_left{
	float:left;
}


/* MODAL POP UP*/

.modal_pop_up {
  width: 520px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: absolute;
  display: none;
  z-index: 9999 !important;
}

.add_more_pop_up{
  height: 175px !important;
}
.SaveGroupName{
  margin-top:25px;
}
.modal_pop_up_header {
  background-color: #b2e5ff !important;
  background-position:0px 0px;
  background-repeat:repeat-x;
  
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

 .close_pop_up {
  background-image: url('../images/pop_up_close_icon.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-color: transparent;
  float: right;
  height: 16px;
  width: 16px;
  margin: 6px;
  cursor: pointer;
}

.pop_up_row{
	padding:10px 15px;
}
.min_pdg_left{
	padding-left:5px;
}
.pop_up_label{
	float:left;
	text-align:left;
	width:74px;
	margin-right: 10px;
	text-align:right;
}
.pop_up_label_left{
	float:left;
	text-align:left;
	width:80px;
	margin-right: 10px;
}
.pop_up_select{
	width: 150px;
	text-align: left;
	vertical-align: bottom;
	border: 1px solid #c4c4c4;
	height: 24px;
}
.pop_up_btn{
	text-align:center;
}
.pdg_top{
	padding-top:7px;
}

.txt_box_pop{
	height: 20px;
	border: #c4c4c4 1px solid;
	margin-top: 2px;
}

 #page_loader
 {display:block;
 position:absolute;
 top:0;left:0;
 background-color:#000000;
 width:100%;
 opacity:0.7;
  /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
filter: alpha(opacity=70);

 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
 z-index:9990 !important;
 }

#backgroundPopupst1 {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopupst1 {
	text-align:left;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}
div.loaderst1 {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.closest1 {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}
span.ecs_tooltipst1 {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrowst1 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_contentst1 {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}


.accordion {
   margin: 30px;
   dt, dd {
      padding: 10px;
      border: 1px solid black;
      border-bottom: 0; 
      &:last-of-type {
        border-bottom: 1px solid black; 
      }
      a {
        display: block;
        color: black;
        font-weight: bold;
      }
   }
  dd {
     border-top: 0; 
     font-size: 12px;
     &:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
     }
  }
  
dd{
   font-weight: bold;
   font-size: 18px;
  }
}

.accordion_elmnt{
	background-color: #a8d7ea; 
	color:white;
	border: 1px solid white;
	background-image: url(../images/tab_bg.png);
	background-repeat: repeat-x;
	height: 37px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border: 1px solid #a8d7ea !important;
	}
	
	
	.accordion_anchor_elmnt{
	color:#006699;
	font-size:15px;
	 font-weight: bold;
	 padding-left:10px;
	 padding-top: 8px;
	 display:block;
	}
	
.acc_cont{
	overflow: scroll;
    height: 365px;
    overflow-x: hidden;
}
#toPopupst1{
	height:400px;
}
.dd_elemnt{
	
	padding: 5px;
	display: block;
	font-size: 13px
}
.dd_cont{
	background-color: #E3F6FF;
	border: 1px solid #a8d7ea;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.btn_mrg{
      margin:0px 0px 0px 10px;
      display:inline-block;
}
.action_btn_cont{
      float:right;
      width:450px;
      text-align: right;
	margin-right: 10px;
}
.pdg_right_title{
      padding-left:20px;
}
.search_container{
	float: right;
}

/* Newly added css */
.title_input_container{
	width:93%;
	float:left;
}
.block_title{
padding: 5px 0px;
}
.add_delete_btns{
	float: right;
	width:60px;
	margin-top: 15px;
}
.inputs_template_block{
	overflow:hidden;
}
.inner_add_delete_btn{
	float:left;
	margin: 8px 0px 0px 0px;
}
.inner_input_container{
	overflow:hidden;
}
.add_action_container{
	padding:6px 0px;
	overflow:hidden;
}
.inner_label{
	color:#006699;
	display:block;
}
.inner_titles{
	clear:both;
	padding-left:10px;
	padding-top:3px;
	text-align:left;
}
.deleteAction{
	padding:5px 0px 5px 5px;
}
#mainDiv{
border-bottom: 1px dashed #a8d7ea;
}
.code_block_textarea_container{
	padding:10px;
	clear: both;
}

// latest

.breadcrumb{
	list-style: none;
    padding: 12px 15px 8px;
}
.breadcrumb>li{
	display:inline-block;
}

.breadcrumb_gradientbg {
    background-image: url("../images/gray_gradient_small.jpg");
    background-position: 0 bottom;
    background-repeat: repeat-x;
	height:14px;
}

.blue_bg_header{
	height:34px;
	width:100%;
	background-image:url('../images/header_top_bg.jpg');
}

.top_header_components{
	float:right;
	padding: 2px 0px;
}

.clearfix {
    *zoom: 1;
}
.aMenu{
	display:block;
 } 
/* Additional CSS */
.action_btn{
    background-color: #044F6E;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    margin: 0 5px;
    padding: 6px 12px;
    text-align: center;
	cursor:pointer;
	line-height: 16px;
 }
 
 
 .action_button{
    background-color: #044F6E;
    border: 0 none;
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	margin: 0 25px;
	padding: 6px 12px;
	text-align: center;
	cursor: pointer;
	height: 28px;
	width: 39px;
 }
 
 
 .action_btn:hover{
	background-color: #3790b4;
 }
  .action_btn.disabled_btn{
	background-color: #7aa0af;
	color: #c4d3da;
 }
 .rule_action_btns{
	height:42px;
	line-height:35px;
	padding-top:5px;
	background-color: #FFFFFF;
 }
  .rule_action_btns table{
	margin-top:5px;
  }
 
 /* TABLE STYLES */
 .table_container{
	margin-bottom:20px;
}

.cust_tbl {
  border: 1px solid #cccccc;
  background-color:#FFFFFF;
  border-collapse: collapse;
  table-layout:fixed;
}
.cust_tbl tr.tbl_head_bg {
  background-color: #b2e5ff !important;
  border-bottom: 3px solid #8cd8ff;
  color: #024e6e;
  
  }
  .cust_tbl thead  {
  }  
  .cust_tbl thead tr  {
  }

.cust_tbl tr th {
  text-align: center;
  padding: 3px;
  font-weight:bold;
  border-right:1px solid white;

}
.cust_tbl tr td {
  text-align: center;
  padding: 3px;
  border-right:1px solid white;
  word-break: break-word;
  word-break: break-all;
  
  
}
#tblRulesBody{
	overflow: auto;
	width: 100%;
	table-layout:fixed;
	/* height:300px; */
}
.align_left{
  text-align: left !important;
    word-wrap: break-word;
}
.row_odd{
background-color:#FFFFFF;
}
.row_even{
background-color:#f0f0f0;
}
.last-column{
	 border-right:none !important;
}
 /* TABLE STYLES */
/* Additional CSS */
.table_wrapper { height: 300px; overflow: auto; }
    .table_wrapper tbody { height: auto !important; }
	
.action_btn_popup{
    background-color: #044F6E;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 6px 12px;
    text-align: center;
	cursor:pointer;
 }
/* TreeSTYLES */

  .tree	ul,ol{padding:0;margin:0 0 10px 25px;}
  .tree	ul:first-child{margin:0 0 10px 5px;}
  .tree ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
 .treeview_check{
	margin-top: 0px  !important;
	margin-right: 2px !important;
	width: 15px;
	height: 15px;
	vertical-align: middle;
 }
 .selectedSpan{
	background-color:#EEEEEE;
 }
 .tree {
    min-height: 340px;
    height:275px;
	/* min-width: 650px; */
	 min-width: 100%; 
    padding:0px 15px 15px 0px;
	margin-top:5px;
    /* margin-bottom:20px; */
    background-color:#ffffff;
/*     border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05); */
	overflow: auto;
	display : inline-block;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
	text-align:left;
}
.tree li:before, .tree li:after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto;
	
}
.tree li:before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px;
}
.dropdown-menu li:before {
    border-left:none;

}
.tree li:after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px;
}
.dropdown-menu li:after {
   border-top:none;

}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
}
.inline {
	display:inline-block ;
}
.tree li.parent_li>span {
    cursor:pointer;
}
.tree>ul>li:before, .tree>ul>li:after {
    border:0;
}
/* .tree li:last-child:before {
    height:26px;
} */
.last_li:before{
	 height:26px !important;
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
}

.scroll-pane
{
	width: 700px;
	height: 200px;
	overflow: auto;
}
.selectedNode
{
	color: red;
}
.existingGrp{
	background-color: #EE2626;
	color: white;
}
.tree_lbl{
	padding:5px 0px !important;
}
  /* Tree STYLES */
/* PREVIEW CONTAINER STYLES */
#dlgPreview,#groupTreeview{
	display: none;
	clear: both;
	overflow:hidden;
}
#groupTreeview .tree{
	min-height:325px;
}
.ui-widget-overlay{
	background:#000000 !important;
	opacity: .70;
}
.preview_tabs{
	margin-top: 15px;
}
.preview_tabs_message{
	margin-bottom: 10px;
	border: 1px solid #CCC;
	padding: 10px 5px;
	font-weight: bold;
}
.preview_tab_container{
	border:1px solid #ccc;
}
.preview_tab{
	display:none;
}
.preview_button_container{
	overflow: hidden;
	padding: 10px 0px 0px;
	float: right;
}
#tree_view_tab{
	overflow: auto;
}
#code_view_tab{

}
#dvValidationResults{
	width:100%;
	padding:5px;
	height:140px;
	overflow:auto;
	display:none;
}
.preview_txtarea{
	height:294px;
	border: none;
	width: 100%;
	margin-top: 5px;
	overflow: auto;
}
.preview_val_btn{
	margin:10px 10px 10px 0px;
}
.prev_txtarea_cont{
	clear:both;
	height:300px;
	border-top: 1px solid #ccc;
	width:100%;
	margin-top:5px;
}
/* Tabs starts */

li  .tab_left
{
	height:32px;
	width:5px;
	background:url(../images/menuItemLeft_bg.png) no-repeat;
	float:left;
	float:left;
}
li  .tab_right
{
	height:32px;
	width:5px;float:left;
	background:url(../images/menuItemRight_bg.png) no-repeat;	
}
li  .tab_center
{
	height:32px;float:left;
	background:url(../images/menuItem_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}

li.selected  .tab_left
{
	height:32px;
	width:7px;
	background:url(../images/menuItemSelLeftGreen_bg.png) no-repeat;
	float:left;
}
li.selected  .tab_right
{
	height:32px;
	width:7px;float:left;
	background:url(../images/menuItemSelRightGreen_bg.png) no-repeat;	
}
li.selected  .tab_center
{
	height:32px;
	float:left;

	background:url(../images/menuItemSelGreen_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}


li.selected .tab_center a
{
		color:#fff;
		text-decoration:none;
}
li .tab_center a:hover
{
		text-decoration:none;
}

/* Tabs ends */
/* PREVIEW CONTAINER STYLES */

.odd {
    background-color: #F5F1F1;
  }
  
  .even {
    background-color: #white;
  }
  .table_wrapper{
	height:400px;
	overflow:auto;
  }
  .contentArea{
	width:100%;
	overflow:hidden;
	height: 80px;
 }
 
 /* Fixed Table header */
 .fixed_header_tbl_wrapper {
  border: 1px solid #cccccc;
  display: block;
  height: 320px;
 overflow: hidden;
  width: 100%;
}
.fix_head_wrapper {
  background-color: #b2e5ff;
  width: 100%;
}
.fix_head {
  border-collapse: collapse;
  width: 100%;
}
.fix_head th {
  background-color: #b2e5ff;
  color: #024e6e;
  font-size: 12px;
  text-align: center;
  height: 32px;
  line-height: 30px;
  cursor: default;
}

.list_table_head_bg {
  background-color: #b2e5ff !important;
  border-bottom: 3px solid #8cd8ff;

}
.main_table_wrapper{
	height: 285px;
	overflow-y: scroll;
	/* overflow-x: hidden; */
	overflow-x: auto;
}

 /* Fixed Table header */
.loaderclass {
    font-size: 11px;
    z-index: 100;
    filter: alpha(opacity=75);
    color: Gray;
    background-color: #ffffff;
    moz-opacity: 0.75;
    opacity: 0.75;
    height: 200%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    text-align:center;
    padding-top:200px;
}

.topopupst1{
	text-decoration:underline;
	color:#428bca;
}
.const_width_btns{
	width:70px;
	float:right;
}

.fixed_header_tbl_wrapper#rule_list_tbl{
	height:380px;
}
#rule_list_tbl .main_table_wrapper {
	height:346px;
}
.fixed_header_tbl_wrapper#listRuleTbl{
	height:332px;
}
#listRuleTbl .main_table_wrapper {
	height:301px;
}
.fixed_header_tbl_wrapper.clone_tbl#listRuleTbl{
	height:300px;
}
#listRuleTbl.clone_tbl .main_table_wrapper {
	height:269px;
}
/* Regression test page styles*/
.download_link{
	color: #006699; 
	text-decoration: underline; 
}

.job_list_table{
	border: #a8d7ea 1px solid;
	width: 850px;
}
.pagination_links #jobTable_paginate a{
	background-color: #044F6E;
	color: #FFFFFF!important;
	padding: 4px 5px;
}
.pagination_links #jobTable_paginate a.paginate_active{
	background-color: #8cd8ff;
	
}
#jobTable_last {
	margin-right: 8px;
}
.refresh_button {
	float:left;
	background-color: #044F6E;
	color: #FFFFFF;
	border: 0px;
	height: 22px;
	margin-left: 6px;
}
.table_filter #jobTable_filter{
	float: none;
	text-align: center;
	position:absolute;
	left:25%;
}
.datatable_border{
	border: 1px solid #a8d7ea;
	padding-top: 7px;
	padding-bottom: 15px;
	padding-left: 4px;
	position:relative;
	overflow:hidden;
}
.job_list_table tr td:not(:last-child){
	border-right: 1px solid #FFF;
}
.bg_blue_file_upload {
	background-color: #E3F6FF;
	height: 80px;
	width: 650px;
}
#jobTable_filter img{
	padding-left: 12px;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}
#jobTable_filter input{
	vertical-align: middle;
}
.ui-widget-content  {
    border-width: 0  !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button{
	margin-right: 100px;
	margin-top: 0px;
	background-color: #044F6E;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset span{
	color: #FFFFFF;
}
.data {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

.data:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
}
span.form-required {
color: #f00;
}    
/* Regression test page styles*/

.mandatory_red{
	color:red;
}
.export_lbl{
	width: 200px;
	display: inline-block;
	margin: 5px 0px;
}
.pop_up_row_left{
	padding: 10px 14px;
	text-align:left;
	overflow:hidden;
	clear:both;
}
.btn_mrg{
	margin:6px 0px;
}

/* typeahead styles */
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
list-style: none;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
     -moz-border-radius: 5px 5px 5px 0;
          border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* typeahead styles */