.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000 ,endColorstr=#4c000000 );
}




.le_pop_up {
  width: 520px;
  height: 175px;
  background-color: #ffffff;
  margin: 50px auto 0;
  z-index: 9999;
  border: 1px solid #cccccc;
}

.le_pop_up_header {
 /* background-color: #b2e5ff !important;
  background-position:0px 0px;
  background-repeat:repeat-x;*/
  
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-image: url(../images/strip_centre.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	font-size: 14px;
color: white;
font-weight: bold;
text-align: left;
}

 .close_le_pop_up {
  background-image: url('../images/pop_up_close_icon.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-color: transparent;
  float: right;
  height: 16px;
  width: 16px;
  margin: 6px;
  cursor: pointer;
}
.pop_up_txtarea{
	width: 90%;
	height: 60px;
	margin-top: 10px;
	resize:none:
}
.le_pop_up_row{
	padding:10px 15px;
}

.clearfix {
    *zoom: 1;
}
.le_pop_up_label{
	float:left;
	text-align:left;
}
.le_pdg_top{
	padding-top:7px;
}
.le_pop_up_btn{
	text-align:center;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}

 .le_pop_up_icon {

float: left;
height: 42px;
width: 42px;
margin: 20px;
background-repeat: no-repeat;
background-position: left top;
background-color: transparent;

}

.error {
background-image: url('../images/error.png');
}
.warning {
background-image: url('../images/warning.png');
}
.question {
background-image: url('../images/question.png');

}
.information {
background-image: url('../images/information.png');

}
.le_msg_div {
	background-color:white;
	height:72px;
	line-height:17px;
	width:75%;
	margin:20px 20px 10px 0px;
	float:left;
}


