@charset "utf-8";
/* CSS Document */

/* CSS Reset starts */


table
{
	border-collapse:collapse;
}


blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}


.file
{
	visibility:hidden;
	width:0px;
	height:0px;
	 
}
/* CSS Reset ends */

/* .LoginContainer
{
    width: 423px;
    height: 280px;
    background: #F6F6F6 url(../images/LoginBoxBg.jpg) repeat-x top;
    border: 1px solid #C7C7C7;
} */
.LoginLockIcon
{
    width: 140px;
    height: 50px;
    background: transparent url(../images/LoginLockIcon.jpg) no-repeat left bottom;
    color: #000;
    font-family: Calibri;
    padding-left: 25px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: bottom;
    margin-left: 15px;
    margin-top: 10px;
}
.LoginButton
{
    width: 76px;
    height: 25px;
    background: transparent url(../images/login_bton.jpg) no-repeat left bottom;
    color: #FFF;
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    
}

.LoginLabel
{
    text-align :right;
    margin :2px 15px 0px 0px;
    width: 90px;
    display :block;
    font-weight: bold;
    font-size: 16px;
}
.rememberChk
{
    padding-bottom :0px;
    padding-left :10px;
    padding-right: 0px;
    padding-top: 0px;
}

/* Header,Content,Footer starts */
.externalContainer
{
	
	background:#f3f3f3 url(../images/body_bg.png) no-repeat;
	width:1000px;
	margin:0 auto;
	
}
.externalWrapper
{
	width:100%;
	background:url(../images/externalBgImg.png) 0 106px   repeat-x  #f3f3f1;

}
/* Header starts */

.headertop
{
	background:url(../images/headerTopBg.png) repeat-x;
	height:51px;
}
.headerLeft
{
	background: url("../images/header_changed.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 106px;
    margin: 0 0 0 100px;
    width: 320px;
}
.headerLeftRule
{
	background: url("../images/rule_engine_header.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 106px;
    margin: 0 0 0 0;
    width: 320px;
}
.options
{

	float:right;
	font-size:1.1em;
	margin: 15px 85px 0 0;
}
.welNote
{
	color:#ec4f11;
	font-size:1.2em;
	font-weight:bold;
}
.options img
{
	vertical-align: top;
	
}
.userImg,.logOutImg,.helpLink
{
	margin:0 5px;
}

.helpLink img
{
	 margin: 0 8px 0 0;
}

/* Menu starts */
.menu
{
	width:927px;
	height:32px;
	margin:0 auto;
	background:url(../images/shadow_for_menu.png) repeat-x bottom;
	padding:22px 0 0 23px;
	
}
.nav .menu_left
{
	height:32px;
	width:5px;
	background:url(../images/menuItemLeft_bg.png) no-repeat;
	float:left;
}
.nav .menu_right
{
	height:32px;
	width:5px;float:left;
	background:url(../images/menuItemRight_bg.png) no-repeat;	
}
.nav .menu_center
{
	height:32px;float:left;
	background:url(../images/menuItem_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}
.nav .menu_center a
{
	height:32px;
	line-height:32px;
	padding: 0px !important;
}
.nav .menu_center a:hover,.nav .menu_center a:focus
{
	background-color:transparent !important;
}

.nav .menu_leftSel
{
	height:32px;
	width:7px;
	background:url(../images/menuItemSelLeftGreen_bg.png) no-repeat;
	float:left;
}
.nav .menu_rightSel
{
	height:32px;
	width:7px;float:left;
	background:url(../images/menuItemSelRightGreen_bg.png) no-repeat;	
}
.nav .menu_centerSel
{
	height:32px;
	float:left;

	background:url(../images/menuItemSelGreen_bg.png) repeat-x;
	line-height:32px;
	text-align:center;
	font-size:1.2em;
	padding:0 10px;
}
.nav .menu_centerSel a
{
	height:32px;
	line-height:32px;
	padding: 0px !important;
}
.nav .menu_centerSel a:hover,.nav .menu_centerSel a:focus
{
	background-color:transparent !important;
}
ul.nav li img
{
	 vertical-align: middle;
	 margin-right: 5px;
	
}
ul.nav li.menu_centerSel a
{
		color:#fff;
}

/* Menu ends */
/* Header ends */

/* Container starts */
.strip{
height:3px;
width:940px;
margin:0 auto;
}
.strip_left
{
	width:4px;
	float:left;
	height:3px;
	background:url(../images/menu_bor_bott_left.png) no-repeat;
}
.strip_right
{
	width:4px;
	float:left;
	height:3px;
	background:url(../images/menu_bor_bott_right.png) no-repeat;
}
.strip_center
{
	width:932px;
	float:left;
	height:3px;
	/* background:#23a9de; */
}
.internalContainerBody
{
	margin:0 auto;
	height:100%;
	width:940px;
	background:#FFF;
}
.clear{
	clear:both;
}

.path
{
	  margin: 12px 0 15px 20px;
	   font-size: 1.1em;
	   float:left;
	   width:920px;
}
.path span
{
	display:block;
	float:left;
	
}
.path p
{
	display:block;
	float:right;
	
}
.pathRightContent
{
	margin-right:15px;
	
}
.path img
{
	margin:0 3px 0 0;
}
.path a
{
	color:#f17544;text-decoration: underline;
}
.path p
{
	
	margin:0 0 0 15px;
	float:left;

}
.pathRight
{
	float:right;
	margin:0 25px 0 0;
}
/* Container ends */

/* Footer starts */
.footer
{
	background-color: #F3F3F3;
    float: left;
    padding-bottom: 45px;
    width: 100%;

}

.rightFooter
{
	background: url("../images/footerImg.png") no-repeat scroll left bottom transparent;
    float: right;
    height: 40px;
    margin: 13px 35px 0 0;
    text-align: center;
    width: 101px;
	
}

.rightFooter p
{
	font-size: 0.8em;
    margin: 0 0 0 30px;
	
}
.leftFooter
{
	float:left;
}
.leftFooter span
{
	display:block;
	color:#2a2a2a;
	margin: 10px 0 0 28px;
}
/* Footer ends */
/* Header,Content,Footer ends */

/*Attribute page 1 starts here */
.internalContainerBodyContentLeft
{
	width:250px;
	float:left;

}
.attributeMenu
{
	margin: 0 0 0 18px;
}
.attributeMenu ul
{
	width:240px;

	
}
.attributeMenu ul li.attributeMenuHeaderLeft
{
	background:url(../images/boxHeaderLeftImg.png) no-repeat;
	width:5px;
	height:32px;
	float:left;
	
}
.attributeMenu ul li.attributeMenuHeaderRight
{
	background:url(../images/boxHeadeRightImg.png) no-repeat;
	width:5px;
	height:32px;
	float:left;
}
.attributeMenu ul li.attributeMenuHeaderCenter
{
	background:url(../images/boxHeadeCenterImg.png) repeat-x;
	float:left;
	height: 22px;
    padding: 10px 44px 0 13px;
	font-size:1.1em;
	font-weight:bold;
	
}
ul.attributeMenuOptions 
{
	background:#fcfcfc;
	width:196px;
	padding:0 13px 60px 8px;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;

}
//rename for delete pop up
.fade_bg
{
	background:url(../images/boxHeaderBottomFadeImg.png) no-repeat;
	width:219px;
	height:62px;
}
.attributeMenuOptions li
{
	background:url(../images/listStyle.png) no-repeat 11px 15px;
	width:171px;
	padding: 11px 0 11px 24px;
	font-size:1.1em;
	
}
.attributeMenuOptions li.selAttributeMenuOptions
{
	background:url(../images/listStyleSel.png) no-repeat 11px 15px ;


}
.attributeMenuOptions li.selAttributeMenuOptions a
{
	color:#e23f00;
}
.attributeMenuOptions li:first-child
{

border-bottom:1px dotted #000;

}
.internalContainerBodyContentRight
{
	margin: 0 0 0 15px;
	float:left;
	width:660px;
	height:600px;
}
.internalContainerBodyContentRight div p
{
	background:url(../images/top_img.png) no-repeat;
	height:27px;
	width:575px;
	font-size:1.2em;
	font-weight:bold;
	color:#e23f00;
	line-height:32px;padding:5px 0 0 0;
}
.internalContainerBodyContentRight .createEditAttribute ul.form li
{
	
	float:left;
	width:195px;
	margin:10px 0 0 0;
}
.internalContainerBodyContentRight .createEditAttribute ul.form li label
{
	 display:block;
    font-size: 1.1em;
    text-align: right;
	width:180px;
	padding:5px 0 0 0;

	
}
.internalContainerBodyContentRight .createEditAttribute .orangeBtnContainer
{
	margin:0 0 0 140px;
}
ul.orangeBtn
{
	float:left;
	margin:0 0 0 10px;
}
ul.orangeBtn .orangeBtnLeft 
{
	background:url(../images/frontbutton_img.png) no-repeat;
	width:9px;
	height:25px;
	float:left;
	cursor:pointer;
}
ul.orangeBtn .orangeBtnCenter
{
	background:url(../images/middlebutton_img.png) repeat-x;
	height:25px;
	float:left;
	font-size:1.1em;
	color:#fff;
	font-weight:bold;
	line-height: 25px;
    padding: 0 5px;
	cursor:pointer;
}
ul.orangeBtn .orangeBtnRight
{
	background:url(../images/backbutton_img.png) no-repeat;
	width:9px;
	height:25px;
	float:left;
	cursor:pointer;
}

.internalContainerBodyContentRight .createEditAttribute ul.form
{
	float:left;
	margin:15px 0 20px 0;
	width: 500px;
}
.internalContainerBodyContentRight .createEditAttribute ul.form .attrInputWrapper,.internalContainerBodyContent .down_temp .download_form ul.down_form .attrInputWrapper,.custom_function .cus_fun_search ul.cus_fun_search_right li .annualPremiumTextWrapper
{
	 
	  height:27px;
	  width:210px;
	  background:url(../images/textboxImg.png) no-repeat;
}
.internalContainerBodyContentRight .createEditAttribute ul.form .attrInput,.internalContainerBodyContent .down_temp .download_form ul.down_form .attrInput,.custom_function .cus_fun_search ul.cus_fun_search_right li input.annualPremiumText
{
	
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:196px;
	background:transparent;
	border:none;
}

select
{
		
	border:0;
	width: 186px;

}

.customStyleSelectBoxInner {
background:url(../images/selRight.png) no-repeat center right;
display:block;
height:27px;
width:24px;
float:left;
 margin-left: 10px;
  padding-right: 15px;

}
 .customStyleSelectBox {
	background:url(../images/selLeft.png) no-repeat;
	display:block;
	height:27px;
	width:187px;
 	line-height: 27px;
}

.buildLookup
{
	margin:20px 0 0 0;
	font-size:1.1em;
}
.buildLookup ul.search
{
	float:left;
	 margin: 15px 0 0 65px;
}
.buildLookup ul.search li
{
	float:left;
	
}
.buildLookup ul.search li label
{
	display: block;
    padding: 5px 15px 0 0;
}
.buildLookup ul.search li ul
{
	display: block;
    margin: 2px 0 0 35px;
}
ul li.grayBtnLeft
{
	background:url(../images/grayBtnLeft.png) no-repeat;
	width:8px;
	height:22px;
	float:left;
	cursor:pointer;
}
ul li.grayBtnCenter
{
	background:url(../images/grayBtnCentre.png) repeat-x;
	height:22px;
	float:left;
	padding:0 3px;
	font-weight:bold;
	font-size:1em;	
	line-height:22px;
	cursor:pointer;
}
ul li.grayBtnRight
{
	background:url(../images/grayBtnRight.png) no-repeat;
	width:8px;
	height:22px;
	float:left;
	cursor:pointer;
}
.buildLookup table.factor
{
	margin: 10px 0 16px 100px;
}
.buildLookup table.factor thead 
{
	width:325px;
	height:35px;
	background:#f9ece4;
	font-weight:bold;
	font-size:1.1em;

	
	
}
table.factor thead  .selectHeader
{
	width:65px;
	height:35px;
	border-right:#d8d8d8 1px solid;
	border-bottom:#d8d8d8 1px solid;

}
table.factor thead .factorHeader
{
	width:255px;
	height:35px;
	text-align:left;
	padding:0 0 0 10px;
	border-bottom:#d8d8d8 1px solid;
}
table.factor tbody
{
	overflow:scroll;
}
table.factor tbody tr
{
	height:35px;
	background:#f7f7f7;
}
table.factor tbody tr td table tr td.selTd
{
	width:65px;
}
table.factor tbody tr td table tr td.factorTd
{
	width:235px;
	padding:0 0 0 15px;
}

table.factor tbody tr td table tr:first-child td
{
	border-bottom:#d8d8d8 1px solid;
}
table.factor tbody tr td table tr td:first-child
{
	border-right:#d8d8d8 1px solid;
	text-align:center;
}

.overflowScroll
{
	overflow-y:scroll;
}

.createLookupFactor
{
	width:330px;
	background:#f6f6f6;
	margin:0 0 0 100px;
	padding:15px 0 0 0;
}
.createLookupFactor span.tit
{
	display:block;
	margin:0 0 0 20px;
	font-size:1.1em;
	font-weight:bold;
	
}
.createLookupFactor ul.formFactor
{
	float:left;
	margin:5px 0 13px 0;
	
}
.createLookupFactor ul.formFactor li
{
	
	float:left;
	margin:13px 0 0 0;
	
}
.createLookupFactor ul.formFactor li label
{
	 display:block;
    font-size: 1.1em;
    text-align: right;
	width:98px;
	padding:5px 0 0 0;
}
.createLookupFactor .attrInputSmallWrapper
{
	  height:27px;
	  width:180px;
	  background:url(../images/textboxImgMed.png) no-repeat;
	  float:left;
}
.createLookupFactor ul.formFactor li .attrInputSmall
{
	line-height: 24px;
	height:27px;
	padding:0 7px;
    width: 165px;
	background:transparent;
	border:none;
}
.txtWrapper
{
	width: 215px;
	padding: 0 0 0 10px;
}


.cal
{
	display:block;
	float:left;
	margin: 5px 0 0 11px;
}
.cal img
{
	float:left;
}

.grayBtnContainer
{
	float:right;
	margin:0 35px 25px 0;
}
.grayBtnContainer ul.grayBtn
{
	float:left;
	margin:0 0 0 9px;
}
.orangeBtnContainerEnd
{
	float: left;
    margin: 20px 0 0 180px;
}

/*Attribute page 1 ends here */

/* attribute views css starts */ 

ul.searchText li
{
	float:left;
}
ul.searchText li label
{
	margin-right: 10px;
}

ul.searchText li ul
{
	width:50px;
}

.view_attributes
{
	height:300px;width:609px;
}
.attributes_details
{
	height:125px;width:609px; margin: 10px 0 0 0;
}
.middle_area
{
	font-size:11px;color:#4c4c4c;margin-top:15px;
}
.middle_area label
{
	float:left;line-height: 25px;color:#4c4c4c;font-size:11px;
}
.diff
{
	border:none;float:left;border:#000 1px solid; border-radius:10px;width:210px;height:25px;
}
.search_text
{
	background:transparent;width: 156px;height:27px;border:none;float:left;line-height:23px;padding:0 7px;
}
.search_text_wrapper
{
	background:url(../images/small_textbox.png) no-repeat;width:170px;height:27px;
	
}
.wrapper
{
	margin: 0 10px 0 35px;
}
.view_attributes a{float:left;}
.front_button
{
	background:url(../images/frontbutton_img.png) no-repeat;width:9px;height:25px;float:left;
}
.text_button
{
	background:url(../images/middlebutton_img.png) repeat-x;height:13px;float:left;font-size:11px;color:#fff;font-weight:bold;padding:6px 9px 6px 9px;
}
.back_button
{
	background:url(../images/backbutton_img.png) no-repeat;width:9px;height:25px;float:left;
}
.right_margin10
{
	margin-right:10px;
}
.top_margin10
{
	margin-top:10px;
}
.left_margin10
{
	margin-left:10px;
}
.table_calc
{
	 border-bottom: 1px solid #D8D8D8;
}
.attr_det_table{
	background:#fbfbfb;
}
.attr_det_table tr th
{
	border-top:#d8d8d8 1px solid;
}
.attr_det_table tr td,.attr_det_table tr th
{
	border-right:#d8d8d8 1px solid;
	border-bottom:#d8d8d8 1px solid;
}
.attr_det_table tr td:first-child,.attr_det_table tr th:first-child
{
	border-left:#d8d8d8 1px solid;
	
}
.attr_det_table tr:first-child td
{
	border-bottom:#d8d8d8 1px solid;
	
}

.first_tr
{
	border:#d8d8d8 1px solid;text-align:center; padding-top:5px; padding-bottom:5px;width:65px;border-bottom:none;border-right:none;
}
.sec_tr
{
border:#d8d8d8 1px solid; padding-left:12px; padding-top:5px; padding-bottom:5px;font-size:11px;width:488px; color:#4c4c4c;border-bottom:none;
}
.table_area
{
width:583px;height: 157px;overflow-y: scroll;margin-top:20px;
}
.attributes_details p
{
	color:#e23f00;font-size:12px;font-weight:bolder;margin-bottom:15px;
}
.attr_det_table_heading
{
	font-size:11px;font-weight:bold;padding-top:14px;padding-bottom:14px;background:#f9ece4;
}
.attr_det_table_data
{
	font-size:11px;padding-top:14px;padding-bottom:14px;background:#f9f9f9;text-align:center;
}
.width100{width:100px;}.width115{width:115px;}.width90{width:90px;}.width88{width:88px;}
.table_buttons {margin:15px 0 0 0; float:right;}
.table_buttons li
{
	color: #333333;
    float: left;
    font-size: 11px;
    list-style: none outside none;
    padding: 0 2px;
}
.table_buttons li img{
	
}
.table_buttons li input
{
	 border: 1px solid #D8D8D8;
    color: #333333;
    display: block;
    float: left;
    font-size: 11px;
     padding: 4px 0;
    text-align: center;
    width: 22px;
	margin: 0 5px;
}
.table_buttons li span{display: block;
    float: left;
     margin: 4px 5px 0 0;
	}

/* attribute views css ends */ 


/* group details css starts */

.groupDetails
{
	margin:0 0 0 20px;

}

.groupDetails p,.ann_pre_attr_head p
{
	background:url(../images/largerTop_img.png) no-repeat;
	width:830px;
	height:23px;
	font-size:1.2em;
	font-weight:bold;
	color:#e23f00;
	line-height:32px;
	padding:5px 0 0 0;
}
.groupDetailsSearch
{
	margin:15px 0 0 0;
	
}
.CreateRuleSetbtn
{
	
	float:left;
	width:170px;
}
.CreateRuleSetbtn span
{
	
	background:url("../images/CreateRuleSetbtn.png") no-repeat;
	cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 20px;
    text-align: center;
	
}

.Searchbtn
{
	float:left;
	width:310px;
}
.Searchbtn span
{
	background:url("../images/search.png") no-repeat;
	display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 20px;
    text-align: center;
}
.groupDetailsSearchLeft
{
	
	float:left;
	width:110px;
}
.groupDetailsSearchLeft span
{
	
	background:url(../images/groupsPlusBtnImg.png) no-repeat;
	cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 20px;
    text-align: center;
	
}
.groupDetailsSearchRight
{
	margin: 0 25px 0 0;
	float:right;
}
.groupDetailsSearchRight label
{
	font-size:1.1em;
	float:left;
	margin:5px 8px 0 0;
}
.groupDetailsSearchRight .groupDetailsTextWrapper
{
	float:left;
	width:210px;
	height:27px;
	background:url(../images/textboxImg.png) no-repeat;
		
}
.groupDetailsSearchRight .groupDetailsText
{
	background:transparent;
	border:0;
	width:196px;
	height:27px;
	padding:0 7px;
	line-height:27px;

}
.groupDetailsSearchRight img
{
	margin:0 0 0 10px;
	vertical-align: top;
}
.groupDetailsTable
{
	margin:20px 0 0 0;
	
}
.groupDetailsTable thead th
{
	height:37px;
	border-right:1px #e5d2c5 solid;
	border-bottom:1px #e5d2c5 solid;
	border-top:1px #d8d8d8 solid;
	border-left:1px #d8d8d8 solid;
	font-size:1.1em;
	color:#4c4c4c;
	text-align:left;
	font-weight:bold;
	padding:0 0 0 10px;
}
.groupDetailsTable thead 
{
	background:url(../images/tableHeaderImg.png) repeat-x;
	
	

}
.groupDetailsTable .USHeader
{
	padding:0 30px 0 10px;
}
.groupDetailsTable .medHeader
{
	
	width:84px;
}
.groupDetailsTable .smallHeader
{
	
	width:60px;
}
.groupDetailsTable .smallerHeader
{
	width:50px;
}
.groupDetailsTable .largeHeader
{
	width:110px;
}
.groupDetailsTable .largestHeader
{
	width:120px;
}
.groupDetailsTable tbody
{
	background:#fcfcfc;
	text-align:center;

}
.groupDetailsTable tbody tr td
{
	border-left:1px #d8d8d8 solid;
	border-right:1px #d8d8d8 solid;
	border-bottom:1px #d8d8d8 solid;
	font-size:1.1em;
	color:#4c4c4c;
	text-align:left;
	padding:0 10px 0 10px;
	height:60px;
}
.groupDetailsTable tbody tr td span
{
	background:url(../images/tableBtn.png) no-repeat;
	display:block;
	width:43px;
	height:21px;
	text-align:center;
	line-height:21px;
	cursor:pointer;
}
.tdClass
	{
	background:url(../images/tableBtn.png) no-repeat;
	display:block;
	width:43px;
	height:21px;
	text-align:center;
	line-height:21px;
	cursor:pointer;
	}

.groupDetails .marginR
{
	margin-right:15px;
}
/* group details css ends */



/*annual premium 1st page starts here*/

.annualpremium_main_inside
{
	width:643px;background-color:#f4f4f4;margin:3px 0 0 3px; float:left; padding-bottom: 20px;
}
.annualpremium_main
{
	width:650px;border:#e3e3e3 1px solid; margin:2px; background:#fff; float:left;padding-bottom:4px;
}
.annualpremium_main_inside textarea
{
width:590px; height:135px; overflow:hidden; border:#dcdcdc 1px solid; resize:none;margin:15px 0 0 33px;
}
.custom_buttons
{
	float:right;padding:12px 15px 0 0;
}
.custom_function_middle_area
{
	font-size:11px;color:#4c4c4c;padding:25px 0 0 0; margin: 0 0 0 15px;
}
.custom_function_middle_area li .annualPremiumTextWrapper
{
	background:url(../images/smallest_textbox.png) no-repeat;
	height:27px;
	width:106px;
	float:left;
	padding:0 7px;
	margin:0 8px 0 0 ;
	 
}
.custom_function_middle_area li input.annualPremiumText
{
	background:transparent;
	 line-height: 23px;
	border:none;
	height:27px;
    width: 106px;
	float:left;
	font-size:1.0em;
}


.custom_function_middle_area ul.searchText li label,.custom_function .cus_fun_search ul.cus_fun_search_right li label

{
	display: block;margin:5px 6px 0 0;
	font-size:1.1em;font-weight:bold;
}
.custom_function_middle_area ul.searchText li.wrapper
{
	margin: 0 0px 0 28px;
}

.custom_function_middle_area .searchText li span.functionSpan
{
	display:block;
	margin:5px 0 0 0;
	float:left;
}

ul.An_pre_MenuOptions 
{
	background:#fcfcfc;
	width:209px;
	color:#4c4c4c;
	font-size:11px;
	padding:0 13px 0px 13px;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	height:195px;
}
ul.An_pre_MenuOptions  li.list
{
	padding:15px 0 0 0 ;
	
}
ul.An_pre_MenuOptions  li.list img,ul.An_pre_MenuOptions  li ul li img
{
	vertical-align:text-top; margin-right:5px;
	
}

ul.An_pre_MenuOptions  li ul li
{
	margin:10px 0 0 15px;color:#4c4c4c;font-size:11px;
}
.custom_function_middle_area .customStyleSelectBoxInner {
background:url(../images/selRight.png) no-repeat center right;
display:block;
height:27px;
width:24px;
float:left;
 margin-left: 8px;
  padding-right: 15px;

}
 .custom_function_middle_area .customStyleSelectBox {
	background:url(../images/selLeft_small.png) no-repeat;
	display:block;
	height:27px;
	width:135px;
 	line-height: 27px;
}

.custom_function_middle_area select{ width:135px;
}
.incWidth
{
	width:170px;
}
.faceIncWidth
{
	background:url(../images/boxHeaderBottomFadeLargeImg.png) no-repeat;
	height: 62px;
    width: 237px;
}
/*annual premium 1st page ends here*/
/*annual premium attribute page*/
.ann_pre_attr
{
	margin:0 0 0 40px;
}
.ann_pre_box
{	width:860px;margin:13px 0 0 0;	overflow-y:scroll;overflow-x:hidden;

}
.ann_pre_box_att
{
	width:836px;
}
.ann_pre_attr .custom_function_middle_area ul.searchText li.wrapper
{
	    margin: 0 0 0 48px;
}
.ann_pre_attr .custom_function_middle_area li .annualPremiumTextWrapper
{
	margin: 0 20px 0 0;
}
.ann_pre_box_att textarea
{
	width: 802px;margin-left:15px;	
}
.ann_pre_but ul
{
	float:right;margin:20px 16px 19px 0;
}
.ann_pre_but ul li
{
	float:left;margin:0 12px 0 0;
}
.mine
{
	background-color:#F00;
}
.cus_but_ann_pre
{
	float: right;padding: 0 12px 0 0;
}

/*annual premium attribute page*/

/*upload css starts*/
.internalContainerBodyContent .down_temp  p
{
	color:#4c4c4c;font-size:1.2em;margin:0 0 10px 40px;
}
.down_temp
{
	margin:10px 0 0 0px;
}
.down_but
{
	margin:0 0 0 25px;
}
.down_but ul.orangeBtn li.orangeBtnCenter 
{
	line-height:0;
}
.down_but ul.orangeBtn li.orangeBtnCenter  img
{
	margin: 4px 0 0 0;
    vertical-align: text-bottom;
}
.internalContainerBodyContent .down_temp .download_form ul.down_form
{
width:546px; margin-top:20px;
}
.internalContainerBodyContent .down_temp .download_form ul.down_form li
{
	float:left;margin:0 0 12px 0;
}
/*.internalContainerBodyContent .down_temp .download_form ul.down_form li img
{
	margin:0 7px 0 9px
}*/
.internalContainerBodyContent .down_temp .download_form ul.down_form li ul.grayBtn
{
	margin:2px 0 0 10px;
}
.internalContainerBodyContent .down_temp .download_form ul.down_form li label
{
	width:170px; display:block; text-align:right;line-height: 23px;margin:0 10px 0 0;font-size:11px;color:#4c4c4c;
}
/*upload css ends*/

/*calculator area starting here*/
.cal_area ul.cal_groups
{
	float: left;
    margin: 0 0 10px 45px;
}
.cal_area ul.cal_groups li
{
	float:left;margin-right:30px;
}
.cal_area ul.cal_groups li img
{
	vertical-align:middle;margin-right:5px
}

ul.cal_form li {
	
    float: left;
}
ul.cal_form li label.sel_grp
{
	display:block;
	 margin: 5px 10px 0 0;
	 float:left;
	font-size:1.1em;
	font-weight:bold;
}
.cal_form
{
	margin:0 0 0 60px;
	 float: left;
}
ul.cal_form li img
{
	float:left;
	margin:5px 5px 0 0px;
}
ul.cal_form li a
{
	color:#ee7a4d;
	text-decoration:underline;
	font-size:1.1em;
	font-weight:normal;
}
ul.cal_form li.wrapper {
    margin: 0 10px 0 52px;
}
.calContentAreaContainer
{
	width: 867px;
	margin:2px 0 0 40px;
	border:1px solid #e3e3e3;
	padding:2px;
	float:left;
	overflow-y:scroll;
}
.calContentArea
{
	margin:0 auto;
}

.calContentArea .eeMonths .eeMonthsLeft,.calContentArea .eeYears .eeYearsLeft,.calContentArea .eeYearsPlus .eeYearsPlusLeft
{
	float:left;
	width:215px;	
	float:left;
	padding:0 0 8px 0;
	background:#f4f4f4;
	border-right:1px solid #d9d9d9;
}
.calContentArea .eeMonths .eeMonthsLeft span.heading,.calContentArea .eeYears .eeYearsLeft span.heading,.calContentArea .eeYearsPlus .eeYearsPlusLeft span.heading
{
	display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin: 12px 0 14px 12px;
	
}
ul.calcLeft label
{
	display:block;
	 margin: 4px 16px 0 16px;
}
ul.calcLeft li
{
	float:left;
	font-size:1.1em;
	margin:0 0 8px 0;
}

ul.calcLeft li .calcTextWrapper
{
	 height:27px;
	 width:145px;
	 background:url(../images/textboxImgMedSmall.png) no-repeat;

}
ul.calcLeft li .calcText
{
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:131px;
	background:transparent;
	border:none;
}
.calContentArea .eeMonths .eemonthsRight,.calContentArea .eeYears .eeYearsRight,.calContentArea .eeYearsPlus .eeYearsPlusRight
{
	
	background:#f4f4f4;
	width:620px;
	float:left;
	 padding: 0 0 28px 15px;
}
.calcTextOrangeWrapper
{
	margin-top:40px;
	 height:27px;
	 width:185px;
	 background:url(../images/textboxImgMed_Orange.png) no-repeat;
}
.calcTextOrange
{
	line-height: 23px;
	padding: 0 7px;
	height:27px;
	width:171px;
	background:transparent;
	border:none;
}
.calContentArea .eeMonths .eemonthsRight p.formula,.calContentArea .eeYears .eeYearsRight p.formula,.calContentArea .eeYearsPlus .eeYearsPlusRight p.formula
{
	background:url(../images/listStyleSel.png) left center no-repeat;
	padding:0 0 0 10px;
	margin:10px 0 0 0;
	color:#e8490c;
	
}
.calContentArea .eeYears .eeYearsRight p.formula,.calContentArea .eeYearsPlus .eeYearsPlusRight p.formula
{
	background:url(../images/listStyleSel_bottom.png) left center no-repeat;
}
.calContentArea .eeMonths .eemonthsRight p.formula a,.calContentArea .eeYears .eeYearsRight p.formula a,.calContentArea .eeYearsPlus .eeYearsPlusRight p.formula a
{
	color:#e8490c;
	text-decoration:underline;
}
 .eeYears  .eeYearsRight span.desc,.eeYearsPlus .eeYearsPlusRight span.desc
 {
	 display: block;
    font-size: 1.1em;
    margin: 10px 0 0;
 }
.calContentArea .eeYears .eeYearsLeft,.calContentArea .eeYearsPlus .eeYearsPlusLeft
 {
	 padding:0 0 46px 0;
	
 }
 .calContentArea .eeYears .eeYearsLeft, .calContentArea .eeYears .eeYearsRight
 {
	  background:#fff;
 }
.cal_area ul.orangeBtn
 {
  left:50%;
  margin: 15px 0 0 0;
  position: relative;
 }
.cal_area ul.orangeBtn li.orangeBtnCenter
{
	padding: 0 20px;
}
.calContentArea .eeMonths .bgwhite, .calContentArea .eeYearsPlus .bgwhite
{
	background:#fff;
}
/*calculator area ends here*/
/*group tree starts here*/
.groputree_section
{
	margin:0 0 0 20px;
}
.groputree_section .group_name
{
	color: #333333;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 20px 0 10px;
    padding-left: 15px;
    width: 47%;
}
.groputree_section .group_name span
{
	font-weight:normal;
}
.groputree_section .subgroup_area
{
	border:#dbdbdb 1px solid;
	padding:10px;width:870px;background:#fbfbfb;
}
.groputree_section .subgroup_area .sub_groups
{
	background: #FFFFFF;
    border: 1px solid #DBDBDB;
    float: left;
    height: 250px;
    overflow-y: scroll;
    width: 416px;
}
.sub_groups .treeView
{
	margin:20px 0 0 12px;
}
.sub_groups .treeView li
{
	margin:10px 0 0 15px;
}
.sub_groups .treeView li img,.sub_groups .listItems .listItemsLeft img
{
	vertical-align:baseline;
}
.sub_groups .treeView li a,.sub_groups .listItems .listItemsLeft a
{
	color: #EC4300;
    font-size: 1.1em;
    padding-left: 5px;
    text-decoration: underline;
	
}
.sub_groups .treeView li:first-child
{
	margin:0;
}
.sub_groups .listItems
{
	margin:5px 0 0 12px;
	float:left;
	width: 385px;
}
.sub_groups .listItems li
{
	margin:10px 0 0 0;
}
.sub_groups .listItems .listItemsLeft
{
	width:290px;
	float:left;
}
.sub_groups .listItems .listItemsRight
{
	width:95px;
	float:left;
}
.sub_groups .listItems .listItemsRight img
{
	margin:0 5px;
	vertical-align:text-bottom;
}
.marginright34
{
	 margin: 0 34px 0 0;
}
.margin60
{
	margin:0 0 0 60px;
}
.group_tree_but
{
	float: right;
    margin: 30px 30px 0;
}
.groputree_section .grouptree_box
{
	width:890px;
}
.groputree_section .grouptree_box .group_tree_inside
{
	width:865px; padding-bottom: 60px;
}
.group_tree_inside textarea
{
	margin-left:15px;width:832px;
}
/*group tree ends here*/
/*popup css starts*/
.overlay{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
.popup
{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
z-index:2;
}
/*popup css ends*/
/*popup for groupDetails starts*/
.createGroup
{
	width:475px;
	background:#fff;
	float:left;
}
.popupHeader .popupHeaderLeft
{
	background:url(../images/popupHeaderLeft.png) no-repeat;
	width:5px;
	height:32px;float:left;
}
.popupHeader .popupHeaderCenter
{
	background:url(../images/popupHeaderCenter.png) repeat-x;
	width: 465px;
	height:32px;
	float:left;
}
.popupHeader .popupHeaderCenter span
{
	color: #E23F00;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin: 7px 0 0 10px;
}
.popupHeader .popupHeaderCenter img
{
	float:right;
	margin:5px 0 0 0;
}
.popupHeader .popupHeaderRight
{
	background:url(../images/popupHeaderRight.png) no-repeat;
	width:5px;
	height:32px;float:left;
}

.createGroup .down_form
{
	margin:0 auto;
	width:400px;
	
}
.createGroup .down_form li
{
	float:left;
	margin:15px 0 0 0;
}
.createGroup .down_form li label
{
	display: block;
    float: left;
    margin: 5px 15px 0 0;
    text-align: right;
    width: 65px;
	
}
.createGroup .orangeBtnContainer
{
	margin: 20px 0 20px 175px;
}

/*popup for groupDetails ends*/

/*popup for searchAttribute begins*/
.searchAttrPopup
{
	margin:0 auto;
}
.searchAttrPopup .popupHeader .popupHeaderCenter
{
	width:700px;
}
.searchAttrPopupContent
{
	background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 0 65px 20px 65px;
    width: 580px;
	
}


/*popup for searchAttribute ends*/
.groups .ann_pre_box
{
	margin:0;
	width:650px;
}
.groups .group_tree_inside textarea
{
	width: 600px;
}
/*custom function 7*/
.custom_function
{
	
    margin: 10px 0 0 30px;
    width: 875px;
}
.cus_fun_text
{
	color: #E23F00;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 32px;
}
.custom_function .attr_det_table .or_un
{
	text-decoration:underline;
}
.custom_function .cus_fun_search
{
	float: left;
    margin: 0 0 10px;
    width: 875px;
}
.custom_function .cus_fun_search input[type='button']
{
	background:url(../images/groupsPlusImg.png) no-repeat; width:20px; height:20px; outline:none; border:none; cursor:pointer;float:left; margin: 9px 0 0;
}

.custom_function .cus_fun_search .cus_fun_search_right
{
	float:right;
}
 .custom_function .cus_fun_search ul.cus_fun_search_right li
 {
	 float:left;
 }
 .custom_function .attr_det_table{ width:100%;}
 .custom_function .advSearch
 {
	 border-left: 1px solid #000000;
    display: block;
    margin: 10px 0 0 5px;
    padding: 0 0 0 5px;
 }
 .custom_function .advSearch a
 {
	 color:#E23F00;
	 text-decoration:underline;
	 font-size:1.1em;
 }
 /*custom function 7 ends*/
  /*Groups 15 starts*/
 .margLeft10
 {
	 margin:0 0 0 10px;
 }
.groups_page .attr_det_table tbody tr td span {
    background: url("../images/tableBtn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 21px;
    line-height: 21px;
    margin: 0 0 0 35px;
    text-align: centre;
    width: 43px;
	float:left;
}
.groups_page .attr_det_table tbody tr td span a.or_un
{
	text-decoration:none;
}
	
  /*Groups 15 ends*/
 
 .dvIfActions table:hover
 {
    border:1px solid #79a1a8;
     background-color:#cee8f5;
     margin-top:7px; 
  }
 
 .tblAction 
 {
      border:1px solid #79a1a8;
      margin-top:7px;
 }    
 /* 
 .tblAction tr:hover
 {
     border:1px solid #79a1a8;
     background-color:#cee8f5;
     margin-top:7px;
 }  
  
  
 .tblAction 
 {
      border:1px solid #79a1a8;
      margin-top:7px;
 } */
 
 .tableRowDoublebold
{
	color: #000;
    font-size: 16px;
    font-weight: bold;
     
}
 .tableRowFontBold
{
	color: #000;
    font-size: 13px;
    font-weight: bold;
     
}

 .tableRow
{
	color: #000;
    font-size: 12px;
    font-weight: normal;
     
}
 
.panel
        {
            display: none;
        }
 .dvIfmenu
 {
   position:absolute; 
   border: solid 1px #23a9de; 
   font-size:11px;
   }
   
   .dvIfmenu ul li:hover
   {
      background-color: #017991;  
   } 
      .dvIfmenu ul li a:hover
   {
      color: #FFFFFF;  
   } 
   #dvMessages
{
      
     
}
.pass
{
     background-color: #92DEB6;
     border: 1px solid green;
}
.fail
{
     background-color: #FFDDDD;
     border: 1px solid #FF2323;
 }
#failOutput p
{
   color: #000;
   font-size: 12px;
   font-weight: normal; 
}
#failOutput label
{
   color: #000;
   font-size: 12px;
   font-weight: normal; 
}
.SuccessMessage
{  color: red;
   font-size: 12px;
   font-weight: normal; 
}
#failOutput ul li
{
   color: #000;
   font-size: 12px;
   font-weight: normal; 
}

/* POP UP STYLES */
.modal_header{
	width:100%;
	height:38px;
	line-height: 38px;
	background-image:url(../images/strip_centre.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	padding-left: 10px;
	font-size: 14px;
	color: white;
	font-weight: bold;
}
.modal-footer {
	border-top:none !important;
	text-align:left !important;
	padding: 0px 20px 10px !important;
}
.modal_txt_content{
	color:#006699;
	text-align:center;
	margin:15px 0px 5px;
	font-size: 15px;
}
.modal_btn_container{
	text-align:center;
	margin:20px 0px 5px;
}
.pop_up_modal_btn{
	display:inline-block;
	margin-left:10px;
}
/* POP UP STYLES */
.main_div_container{
border: #a8d7ea 1px solid;
 width: 900px; 
 padding-bottom: 10px;
}

/* Intellisense related styles */
#intelliDiv{
	display:none;
	position:absolute;
	background-color:#fff;
	border:1px solid #a8d7ea;
}
.ttl_bg{
	background-color:#29A329;
	color:#fff;
}
.intelli_val_bg{
	background-color:#FFF;
	padding: 3px 4px;
	color:#000;
}
/* Intellisense related styles */