<div class="ng-modal-overlay" ng-show="control.show"
	style="display: none;">
	<div class="le_pop_up">
		<p class="le_pop_up_header">
			{{control.header}}<span ng-click="control.hideModal()"
				class="close_le_pop_up"></span>
		</p>
		<div class="le_pop_up_row clearfix">
			<div class="contentArea">
				<div class="le_pop_up_icon {{control.icon}}"></div>
				<div class="le_msg_div">
					<label class="le_pop_up_label le_pdg_top">{{control.message}}</label>
				</div>
			</div>
			<div>
				<textarea ng-show="control.textAreaShow" class="pop_up_txtarea" readonly>{{control.details}}</textarea>
			</div>
			<div class="le_pop_up_btn">
				<button ng-click=control.callBackPositive() class="action_btn_popup">{{control.button1Label}}</button>
				<button ng-click=control.callBackNegative()
					ng-show="control.button2Show" class="action_btn_popup">{{control.button2Label}}</button>
				<button ng-click=control.showDetails() ng-show="control.button3Show"
					class="action_btn_popup">{{control.button3Label}}</button>
			</div>
			
		</div>
	</div>
</div>