<!doctype html>
<html ng-app="myapp">
  <head>
    <script src="./js/angular-1.0.4.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.1.1-SNAPSHOT.js"></script>
    <script src="controller.js"></script>
    
    <link rel="stylesheet" href="./js/bootstrap.min.js" />
	

    <link rel="stylesheet" href="AngularStyle.css" />
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.7.1.js" type="text/javascript"></script>
<link href="css/jquery-ui-modelpopup.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
<script src="js/Intellisense.js" type="text/javascript"></script>
<script src="js/json.js" type="text/javascript"></script>
<script src="js/BuildRules.js" type="text/javascript"></script>
<script src="js/Beautify.js" type="text/javascript"></script>
<link href="css/Intellisense.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-ui-modelpopup.min.js" type="text/javascript"></script>
<script src="js/jshint-1.1.0.js" type="text/javascript"></script>
<script src="js/jquery.json-2.2.min.js" type="text/javascript"></script>
    
    
    
  </head>
  <body>

<div ng-controller="DialogDemoCtrl">
    <div class="span12 article-tree">

            <script type="text/ng-template"  id="item_renderer">
            
		
			
			<div ng-show="data.type=='IF' || data.type=='ElseIF'"  class="box">
			<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
			<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px"  ng-show="parent==rule"> 
            <img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition" ng_click="delMainNode(data)" />&nbsp;
  			<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
            <div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
            <div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
            <ul>
            <li ng-repeat="choice in items"> <a  ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
            
            </ul>
            </div>    
            </div>
         </div>  

				<div style="overflow: hidden;">
					<div  class="tableRowDoublebold blue_txt_color" style="float:left;width:30px;padding-left:10px;padding-top:3px;" ng-show="data.type=='IF'">If</div>
					<div  class="tableRowDoublebold blue_txt_color" style="float:left;width:80px;padding-left:10px;padding-top:3px;" ng-show="data.type=='ElseIF'" >Else If</div>
				</div>
			
				<div ng-repeat="data1 in data.Conditions.Condition"  class="ng-scope" class="box" style="overflow: hidden;">			
					<div  class="attrInputWrapper" style="float:left;"> 
						<input id="txtLHS" type="text" ng-model="data1.lhs" class="intelli" required/>
					</div>
				 
					<select name="operend" ng-model="data1.operator" style="float:left;">
						<option ng-repeat="choice in operators">{{choice}}</option>
					</select>
					<div class="attrInputWrapper" style="float:left;"> 
						<input id="txtRHS" type="text" ng-model="data1.rhs" class="intelli" required /> 
					</div>
					<select  ng-model="data1.connector" ng-show="data1.connector.length>0" style="float:left;">
						<option ng-repeat="choice in connector">{{choice}}</option>
					</select>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addCondition(data)"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition" ng-click="removeCondition(data,data1)" ng-show="data.Conditions.Condition[0]!=data1"/>
					</div>
				</div>	
				<select style="display : inline-block; width : 60px" style="float:left" ng-model="choice1" ng-change="addNode(data,this,parent)" ng-show="parent==rule">
							<option selected="selected" value="0">Select</option>
							<option ng-repeat="choice in items">{{choice}}</option>
				</select>
				<div ng-repeat="data in data.Actions.Action" ng-include="'item_renderer'" class="ng-scope" ng-init="parent=$parent.data; index= $index + 1" >

				</div>
				
				<div ng-show="data.Statement" style="overflow: hidden;" ng-init="parent1=data">
				<div ng-repeat="data5 in data.Statement" style="float:left;">
					<div class="attrInputWrapper" style="float:left;">  
						<input id="txtLHS" type="text" ng-model="data5.lhs" class="intelli" required/>
					</div>
					<label class="tableRowFontBold" style="float:left;"> = </label>
					<div class="attrInputWrapper" style="float:left;">
						<input id="txtLHS" type="text" ng-model="data5.rhs" class="intelli" required/>
					</div>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addStatementNode(data5,parent1,index)"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition" ng-click="deleteStatementNode(data5,parent1)" ng-show="!parent.Statement || data.Statement[0]!=data5"/>
					</div>
				</div>
				</div>
			
			</div>	
			
			
			
			<div ng-show="data.type=='Else'" class="box"> 
				<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px" ng-show="parent==rule" > 
					<img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition"  ng_click="delMainNode(data)"/>&nbsp;
					<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
					<div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
					<div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
					<ul>
					<li ng-repeat="choice in items"> <a class="aMenu" ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
					
					</ul>
					</div>    
					</div>
				 </div> 
				<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
				<div style="overflow: hidden;">
					<div  class="tableRowDoublebold blue_txt_color" style="float:left;width:30px;padding-left:10px;padding-top:3px;">Else</div>
				</div>
				
				<div ng-repeat="data in data.Actions.Action" ng-include="'item_renderer'" class="ng-scope" ng-init="parent=$parent.data">
				
				</div>
				
				<div ng-show="data.Statement" style="overflow: hidden;" ng-init="parent1=data">
				<div ng-repeat="data5 in data.Statement" style="float:left;">
					<div class="attrInputWrapper" style="float:left;">  
						<input id="txtLHS" type="text" ng-model="data5.lhs" class="intelli" required/>
					</div>
					<label class="tableRowFontBold" style="float:left;"> = </label>
					<div class="attrInputWrapper" style="float:left;">
						<input id="txtLHS" type="text" ng-model="data5.rhs" class="intelli" required/>
					</div>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addStatementNode(data5,parent1,index)"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition" ng-click="deleteStatementNode(data5,parent1)" ng-show="!parent.Statement ||  data.Statement[0]!=data5"/>
					</div>
				</div>
				</div>
				
			</div>
			
			<div ng-show="data.type=='Loop'" class="box">	
			<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px" ng-show="parent==rule"> 
				<img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition"  ng_click="delMainNode(data)"/>&nbsp;
				<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
				<div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
				<div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
				<ul>
				<li ng-repeat="choice in items"> <a class="aMenu" ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
				
				</ul>
				</div>    
				</div>
			 </div> 
			
			<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
				<div style="overflow: hidden;">
				<span class="tableRowDoublebold min_pdg_top_left blue_txt_color"  style="float:left;padding-left:10px;" >Loop Block</span> 
				
				<span class="sub_title_span" style="float:left">Start</span>
				<div class="attrInputWrapper_smallest" style="float:left"><input  class="LoopStart attr_input_smallest" type="text" ng-model="data.start" required /></div> 
				<span class="sub_title_span" style="float:left">Step</span>
				<div class="attrInputWrapper_smallest" style="float:left"><input  class="LoopStep attr_input_smallest" type="text" ng-model="data.step"  required /></div> 
				<span class="sub_title_span" style="float:left">Limit</span>
				<div class="attrInputWrapper_smallest" style="float:left"><input  class="LoopLimit attr_input_smallest" type="text" ng-model="data.limit" required /></div>      
				</div>
				<select style="display : inline-block; width : 60px" style="float:left" ng-model="choice1" ng-change="addNode(data,this,parent)">
							<option selected="selected" value="0">Select</option>
							<option ng-repeat="choice in items">{{choice}}</option>
				</select>
				<div ng-repeat="data in data.Actions.Action" ng-include="'item_renderer'" class="ng-scope" ng-init="parent=$parent.data" >
				
				</div>
			</div>
			
			<div ng-show="data.type=='LookUp'" class="box">
			<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
			<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px"  ng-show="parent==rule"> 
				<img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition" ng_click="delMainNode(data)" />&nbsp;
				<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
				<div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
				<div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
				<ul>
				<li ng-repeat="choice in items"> <a class="aMenu" ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
				
				</ul>
				</div>    
				</div>
			 </div> 
			
				<div  style="float:left"> 
				<span class="tableRowDoublebold min_pdg_top_left blue_txt_color"  style="float:left;padding-left:10px;" >LookUpCall Block</span> 
         
				<span class="sub_title_span" style="float:left"></span>
				<div class="attrInputWrapper_smallest" style="float:left">
					<input  class="LookUpCallStart attr_input_smallest" type="text" ng-model="data.lhs" required ></input>
				</div> 
				<span class="sub_title_span" style="float:left">= From</span>
				<div class="ddlStartWith min_mrg_top" style="float:left">
					<select name="tableNameList" id="tableNameList" class="tableNameDropDownClass" style="width:140px;" ng-model="data.tableName" ng-change="LookUpTableSelected(data)">
						<option ng-repeat="choice in tableList" >{{choice}}</option>       						
					</select>
				</div> 
				<span class="sub_title_span" style="float:left">Select</span>
				<div class="ddlStartWith min_mrg_top" style="float:left">
					<select name="columnNameList" id="columnNameListId" class="columnNameList" style="width:140px;" style="float:left" ng-model="data.columnName">
  
						<option ng-repeat="choice in DBDetailsList[tableList.indexOf(data.tableName)].ColumnNames" >{{choice.columnName}}</option>  
					</select>
				</div>   
				</div>  
			
				
				<div ng-repeat="data1 in data.Conditions.Condition" >
					<label ng-show="data1!=data.Conditions.Condition[0]">And</label>
					<select name="columnNameList" id="columnNameListId" class="columnNameList" style="width:140px;" style="float:left" ng-model="data1.columnName">  
						<option ng-repeat="choice in DBDetailsList[tableList.indexOf(data.tableName)].ColumnNames">{{choice.columnName}}</option>  
					</select>
						<select style="display : inline-block; width : 60px"  ng-model="data1.operator" style="float:left">
							<option ng-repeat="choice in operators">{{choice}}</option>
						</select>
						<select style="display : inline-block; width : 110px"  ng-model="data1.valueTypeField" style="float:left">
							<option ng-repeat="choice in valueType">{{choice}}</option>
						</select>
						<input type="text" ng-model="data1.value" /> 
						
						<div>
							<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addLookUpCondition(data1,data)"/>
							<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition"  ng-click="deleteLookUpCondition(data1,data)" ng-show="data.Conditions.Condition[0]!=data1"/>
						</div>
					
				</div>
				Order By
				<select name="columnNameList" id="columnNameListId" class="columnNameList" style="width:140px;" style="float:left" ng-model="data.orderBy">  
						<option ng-repeat="choice in DBDetailsList[tableList.indexOf(data.tableName)].ColumnNames">{{choice.columnName}}</option>  
				</select>
				
				
			</div>	
			
			
			<div ng-show="data.type=='Function'" class="box" >
			<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
			<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px" ng-show="parent==rule" > 
				<img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition"  ng_click="delMainNode(data)"/>&nbsp;
				<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
				<div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
				<div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
				<ul>
				<li ng-repeat="choice in items"> <a class="aMenu" ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
				
				</ul>
				</div>    
				</div>
			 </div> 
			Function
				<div ng-show="data.Functions"  style="overflow: hidden;" >
					<div class="attrInputWrapper" style="float:left;">  
						<input type="text" class ="txtLhs" id="txtLhs" ng-model="data.Functions[0].functionName" required/> 
					</div>
					<div class="attrInputWrapper" style="float:left;">
						<input type="text" id ="txtRhs" ng-model="data.Functions[0].params" required/> 
					</div>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition"/>
					</div>
				</div>
			</div>


							
			
			<div ng-show="data.type=='Statement'" >
				<div ng-repeat="data0 in data.Actions.Action" class="ng-scope" style="overflow: hidden;" >
					<div class="attrInputWrapper" style="float:left;" >  
						<input id="txtLHS" type="text" ng-model="data0.Statement[0].lhs" class="intelli" required/>
					</div>
					<label class="tableRowFontBold" style="float:left;" > = </label>
					<div class="attrInputWrapper" style="float:left;" >
						<input id="txtLHS" type="text" ng-model="data0.Statement[0].rhs" class="intelli" required/>
					</div>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addStatementNode(data0,parent,index)"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition" ng-click="deleteStatementNode(data0,parent)" />
					</div>
				</div>
				<div ng-show="data.Statement"  style="overflow: hidden;" >
				<div ng-repeat="data5 in data.Statement" style="float:left;">
					<div class="attrInputWrapper" style="float:left;">  
						<input id="txtLHS" type="text" ng-model="data5.lhs" class="intelli" required/>
					</div>
					<label class="tableRowFontBold" style="float:left;" > = </label>
					<div class="attrInputWrapper" style="float:left;">
						<input id="txtLHS" type="text" ng-model="data5.rhs" class="intelli" required/>
					</div>
					<div style="float:left;">
						<img  src="images/add.png" id='addstatement' height ="20px" width="20px" class="addstatement" align="left"  title="Rule Operand" ng-click="addStatementNode(data5,parent,index)"/>
						<img  src="images/delete.png" id='deleteStatement' height ="20px" width="20px" class="deleteStatement" align="left"  title="Delete condition" ng-click="deleteStatementNode(data5,parent)" ng-show="!parent.Statement ||  data.Statement[0]!=data5 "/>
					</div>
				</div>	
				</div>
			</div>
			
			
			<!-- Aneesh-->
			
			<div ng-show="data.type=='CodeBlock'" class="box" >
			<img src="images/deleteSmall.png" id="deleteAction" class="deleteAction" align="right" title="Delete Action" ng-show="parent!=rule" ng-click="deleteNode(data,parent)">
			<div style="text-align:right;vertical-align:center;width:17%;padding-right:8px" ng-show="parent==rule" > 
				<img src="images/deleteNewRule.png" class='deleterule'   title="Delete this condition"  ng_click="delMainNode(data)"/>&nbsp;
				<img src="images/addNewRule.png" class='addrule'  title="Add another condition"  />
				<div style="width:100%;text-align:left;margin-top:-5px; padding-left:100px;">
				<div class="dvIfmenu" style="width:50px;text-align:left;background-color:#dceff7;display:none;" >
				<ul>
				<li ng-repeat="choice in items"> <a class="aMenu" ng_click="addMainNode(choice,data)" >{{choice}}</a> </li>
				
				</ul>
				</div>    
				</div>
			 </div> 
			Code Block
			<div>
				<textarea rows="5" cols="20" ng-model="data.Code"/>
			</div>
			</div>			
			
			<!-- Aneesh-->	
			
            </script>
			
			
			
			
		<select style="display : inline-block; width : 60px" style="float:left" ng-model="choice1" ng-change="addStartNode(this)">
					<option selected="selected" value="0">Select</option>
					<option ng-repeat="choice in items">{{choice}}</option>
		</select>	
		
		
		<div id="mainDiv" ng-repeat="data in rulePart"  ng-include="'item_renderer'" class="ng-scope" ng-init="parent=rule; index= $index">
		</div>									
				
		<button type="button" ng-click="construct(rulePart)" style="display : inline-block;"> Preview </button>
				<textarea style="height:200px;width:1000px" wrap='off' readonly >{{js}}</textarea>				
		
		
		
		
		
	
    </div>
</div>
</body>
</html>
